<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
          
                <!-- ================================================= -->
                <!-- Begin user variable display in the profile area.  --> 
                <!-- ================================================= -->
                
                <br />
                <div class="vtprofileinfo">
                    <table class="conditions">
                    <!-- IF postrow.PLAYERINFO --><span class="playerinfo">{postrow.PLAYERINFO}</span><hr><!-- ENDIF -->
                    <!-- HIT POINTS -->
                    <!-- IF (!(postrow.SELECTED_CURRENT_HIT == '')) &&  ((postrow.SELECTED_MAXIMUM_HIT == 0)or !(postrow.SELECTED_MAXIMUM_HIT == '')) && ((postrow.SELECTED_NON_LETHAL == 0) or !(postrow.SELECTED_NON_LETHAL == '')) -->
                            <table>
                            <!-- IF !(postrow.SELECTED_CURRENT_HIT == '') or !(postrow.SELECTED_MAXIMUM_HIT == '')-->
                                <tr><td width="65"><span class="HitPointInfo"><b>Health: </b></span></td>

                                <!-- IF ((postrow.SELECTED_CURRENT_HIT < postrow.SELECTED_MAXIMUM_HIT) && (postrow.SELECTED_CURRENT_HIT > 0)) -->
                                     <td width="65"><span class="HitPointInfo"><b>[HP: </b>{postrow.SELECTED_CURRENT_HIT}/{postrow.SELECTED_MAXIMUM_HIT}]</b></span></td>
                                <!-- ENDIF -->

                                <!-- IF (postrow.SELECTED_CURRENT_HIT < 0) -->
                                    <td width="65"><span class="RedHitPointInfo">[<b>HP: </b{postrow.SELECTED_CURRENT_HIT}/{postrow.SELECTED_MAXIMUM_HIT}]</span></td>
                                <!-- ENDIF -->

                                <!-- IF ((postrow.SELECTED_CURRENT_HIT == postrow.SELECTED_MAXIMUM_HIT) && !(postrow.SELECTED_CURRENT_HIT == 0))-->
                                    <td width="65"><span class="HitPointInfo"><b>[HP: </b>{postrow.SELECTED_CURRENT_HIT}/{postrow.SELECTED_MAXIMUM_HIT}]</b></span></td>
                                <!-- ENDIF -->

                                <!-- IF (postrow.SELECTED_CURRENT_HIT == 0) -->
                                    <td width="65"><span class="RedHitPointInfo">[<b>HP: </b{postrow.SELECTED_CURRENT_HIT}/{postrow.SELECTED_MAXIMUM_HIT}]</span></td>
                                <!-- ENDIF -->

                                <!-- IF (postrow.SELECTED_NON_LETHAL > 0)-->
                                   <td width="65"><span class="RedHitPointInfo">- [<strong>NL: </strong>{postrow.SELECTED_NON_LETHAL}]</span></td></tr></table>
                                <!-- ENDIF -->

                                <!-- IF (postrow.SELECTED_NON_LETHAL <= 0)-->
                                </tr></table>
                                <!-- ENDIF -->

                             <!-- ENDIF -->
                            
                    <!-- ENDIF -->

                    <!-- CONDITIONS (BUFFS/DEBUFFS) -->
                    <!-- IF postrow.SELECTED_GOOD_CONDITION or (postrow.SELECTED_GOOD_CONDITION == '') or  postrow.SELECTED_BAD_CONDITION or (postrow.SELECTED_BAD_CONDITION == '')-->
                        <table>
                        <!-- IF !(postrow.SELECTED_GOOD_CONDITION == '')-->
                            <tr><td width="65"><span class="profileinfo"><strong>Buffs:</strong></span></td><td>
                            <div id="conditions" style="word-wrap: break-word;">
                                <span class="profileinfo"><font color="#0070CA">[{postrow.SELECTED_GOOD_CONDITION}]</font></span>
                            </div>
                            </td></tr>
                        <!-- ENDIF -->

                        <!-- IF !(postrow.SELECTED_BAD_CONDITION == '') -->
                            <tr><td width="65"><span class="profileinfo"><font color="#990000"><strong>Debuffs:</strong></font></span></td><td>
                            <div id="conditions" style="word-wrap: break-word;">
                                <span class="profileinfo"><font color="#990000">[{postrow.SELECTED_BAD_CONDITION}]</font></span>
                            </div>
                            </td></tr>
                        <!-- ENDIF -->
                        </table>
                    <!-- ENDIF -->

                    <!-- IF postrow.LEVELS-->
                    <table>
                    <tr><td width="65"><span class="Spellinfo"><strong>Spells:</strong></td><td>
                    <div id="conditions" style="word-wrap: break-word;">
                        <span class="Spellinfo">[{postrow.LEVELS}]</span>
                    </div>
                    </table>
                    <!-- ENDIF -->

                    <!-- SPECIAL ABILITIES -->
                    <!-- IF postrow.ABILITY-->
                    <table>
                    <tr><td width="65"><span class="AbilityInfo"><strong>Abilities:</strong></span></td><td>
                        <div id="conditions" style="word-wrap: break-word;">        	
                            <span class="AbilityInfo">[{postrow.ABILITY}]</span>
                        </div>
                        </td></tr>
                    </table>
                    <!-- ENDIF -->

                    </td></tr>
                    </table>

                   </table>

                  <hr />
                  </div>
    </body>
</html>
